# Variables de entorno
.env

# Certificados y claves privadas
*.key
*.crt
*.pem
certs/

# Archivos de configuración local
*.txt
.vscode/

# Archivos compilados
*.o
*.out
*.exe
orca

# servidor de prueba inicial
servidor_test/